@model nuochoanguadua.Models.danhmuc_sp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>danhmuc_sp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tendm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iddm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
