@model nuochoanguadua.Models.chon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>chon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loaihang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaihang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_l }) |
    @Html.ActionLink("Back to List", "Index")
</p>
