@model IEnumerable<nuochoanguadua.Models.san_pham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iddm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giatien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iddm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tensp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giatien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghichu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsp }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsp })
        </td>
    </tr>
}

</table>
